<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>

    <link rel="stylesheet" href="/css/styles.css"> 
</head>
 
<body>
    <header class="header-style"> 

        <div class="top-header">
            <div class="contenedor-logo">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo" class="logo"></a>
            </div>

            <form action="#" method="get" class="form">
                <input type="text" name="search" id="search" class="search-example" placeholder="Buscar productos, marcas y más">
                <button type="submit" class="icon-search"><i class="fa fa-search"></i></button></i>
            </form>
                
            <div class="comprar-cuota">
                <p class="info-header"><i class="fas fa-hand-holding-usd"></i>Comprá a cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        
        <nav class="navBar">
            <ul >
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li> 
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta</a> <i class="far fa-id-card"></i></li> 
                <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li> 
                <li><a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i> </li>
            </ul>
        </nav>
        <div class="burgerMenu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <img class="logo-main" src="/images/img-home-banner.jpg" alt="Banner">
    
    <main class="main-section">
        <section > 
            <h3 class="titularMain">Basado en tu última visita</h3>
            <div class="productos">

                <article class="producto">
                    <img class="img-producto" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="info-producto"> 
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                        
                </article>
    
                <article class="producto">
                    <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" >
                    <div class="info-producto">  
                        <i class="fas fa-truck"></i>
                        <P class="precio">$230.000</P>
                        <P class="descuento">20% off</P>
                        <P class="descripciones">MacBook Pro 2019</P>
                    </div>
                </article>
    
                <article class="producto">
                    <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" >
                    <div class="info-producto">  
                        <i class="fas fa-truck"></i>
                        <P class="precio">$70.500</P>
                        <P class="descuento">10% off</P>
                        <P class="descripciones">Samsung Galaxy S10</P>
                    </div>
                </article>
    
                <article class="producto">
                    <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="Tv Samsung Smart" >
                    <div class="info-producto">  
                        <i class="fas fa-truck"></i>
                        <P class="precio">$23.200</P>
                        <P class="descuento">5% off</P>
                        <P class="descripciones">SmartTv Samsung 43"</P>
                    </div>
                </article>
            </div>
        </section>
<br>
<br>
        <section > 
            <h3 class="titularMain"> Ofertas</h3>
            <div class="productos">

                <article class="producto">
                    <img class="img-producto" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="info-producto"> 
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="descripciones">Cafetera Moulinex</p>
                    </div>
                        
                </article>
    
                <article class="producto">
                    <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019" >
                    <div class="info-producto">  
                        <i class="fas fa-truck"></i>
                        <P class="precio">$230.000</P>
                        <P class="descuento">20% off</P>
                        <P class="descripciones">MacBook Pro 2019</P>
                    </div>
                </article>
    
                <article class="producto">
                    <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" >
                    <div class="info-producto">  
                        <i class="fas fa-truck"></i>
                        <P class="precio">$70.500</P>
                        <P class="descuento">10% off</P>
                        <P class="descripciones">Samsung Galaxy S10</P>
                    </div>
                </article>
    
                <article class="producto">
                    <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="Tv Samsung Smart" >
                    <div class="info-producto">  
                        <i class="fas fa-truck"></i>
                        <P class="precio">$23.200</P>
                        <P class="descuento">5% off</P>
                        <P class="descripciones">SmartTv Samsung 43"</P>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer class="style-footer">

        <Section class="Footer">
            <div class="icon-footer">
                <i class="fas fa-credit-card"></i>
            </div>
            <h3 class="title-footer">Pagá con tarjeta o en efectivo</h3>
            <p class="text-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </Section>

        <section class="Footer">
            <div class="icon-footer">
                <i class="fas fa-gift"></i>
            </div>
            <h3 class="title-footer">Envío gratis desde $ 2.500</h3>
            <p class="text-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section class="Footer">
            <div class="icon-footer">
                <i class="fas fa-user-shield"></i>
            </div>
            <h3 class="title-footer">Seguridad, de principio a fin</h3>
            <p class="text-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

    </footer>
    
    <section class="end-footer"></section>>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
    
</body>
</html>